* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(244, 244, 244);
}

.page {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}

header {
  width: 100%;
}

.navbar {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navbar ul li {
  margin-left: 20px;
}

.row {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}